* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a:visited,
a:link,
a:hover,
a:active {
    text-decoration: none;
}

/*Схема кольорів*/
.color, .color * {
    background-color: #fff;
    color: #B17120;
}

.color_invert, .color_invert * {
    background-color: #B17120;
    color: #fff;
}

/*Логотип*/

#mp_logo {
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 50%;
}
/*Адаптивність*/
html {
    min-width: 1200px;
    min-height: 800px;
    width: 170vh;
    height: 100vh;
    max-width: 2000px;
    max-height: 1000px;

    display: flex;
    justify-content: center;
}

body {
    max-width: 100%;
    min-height: 100%;
}

/*СІТКА-main*/
.conteiner {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
}

header {
    grid-area: 1 / 1  / 2  / 11;
}

nav {
    grid-area: 2 / 1  / 10  / 3;
}

.content {
    grid-area: 3 / 3  / 10  / 11;
}

footer {
    grid-area: 10 / 1  / 11  / 11; 
}

.buttons_wrapper {
    grid-area: 2/3/3/11;
}
/*GRID-HEADER*/

header {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(12, 1fr);
}

#mp_logo {
    grid-area: 1/1/3/2;
}

header > h1, h2 {
    grid-column: 2/12;
    display: flex;
    align-self: center;
    justify-self: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 90px;
    margin-left: 5px;
}

.buttons_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
}

.content {
    border:5px solid #B17120;
    border-radius: 50px;
    margin: 10px;
    padding: 15px;

    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(8, 1fr);
}

.text {
    grid-area: 1/1/8/4;
}

.photos {
    grid-area: 1/4/8/9;

}

.photos > img {
    max-height: 50%;
    max-width: 45%;
    border-radius: 20px;
}

button {
    height: 70%;
    width: 15%;
    border:5px solid #B17120;
    border-radius: 30px;
    font-size: 15px;
}

button:hover {
    cursor: pointer;
    
}

button:active {
    border-color: #55350a;
    box-shadow: inset 3px 3px 3px 3px #55350a;
}

#form_background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display:none;
    position: absolute;
    margin-top: 25%;
    left: 25%;
    z-index: 2;
    opacity: 1;
    background-color: #fff;
}